<div class="contents row">
  <div class="content_post" style="background-image: url(<%= @tweet.image %>);">
    <% if user_signed_in? && current_user.id == @tweet.user_id %>
    <div class="more">
      <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '編集', edit_tweet_path(@tweet.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', tweet_path(@tweet.id), method: :delete %>
        </li>
      </ul>
    </div>
    <% end %>
    <p><%= @tweet.text %></p>
    <span class="name">
      <a href="/users/<%= @tweet.user.id %>">
        <span>投稿者</span><%= @tweet.user.nickname %>
      </a>
    </span>
    <p class="d-flex justify-content-end">
   <% if user_signed_in? && @user == current_user %>
   <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn-sm btn-success" %>
   <% end %>
   <% if current_user != @user %>
   <% if current_user.following?(@user) %>
   <%= link_to 'フォロー外す', user_relationships_path(@user.id), method: :delete, class: "btn-sm btn-danger" %>
   <% else %>
   <%= link_to 'フォローする', user_registration_path, method: :POST, class:"btn-sm btn-success" %>
   <% end %>
 </p>
 <% end %>
 <div class="ml-3 mb-3 card w-100">
   <div class="d-flex">
   </div>
   <div class="d-flex">
     <%= link_to follows_user_path do %>
     <h6>フォロー<%= @following_users %></h6>
     <% end %>&nbsp;&nbsp;
     <%= link_to followers_user_path do %>
     <h6>フォロワー<%= @follower_users %></h6>
     <% end %>
  </div>
    <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
</div>